data/*

factsheet

.dockerignore
.env
.gitignore
Dockerfile
Makefile

*.pyc
*.egg-info/*
*.pdf

egg-info/*
data/*
logs/*
!logs/.keep
webapp/static/node_modules/*
webapp/static/package-lock.json
venv/*

