body {
	position: relative;
}

/*Sidebar*/
.sidebar {
	background-color: #3166a0;
	position: fixed;
	width: 200px;
	overflow-y: scoll;
	height: 100%;

	padding-top: 25px;

}

.sidebar ul {
	padding-top: 10px;
	padding-left: 0px;
	list-style-type: none;
}

.sidebar ul div {
	padding-top: 5px;
	padding-bottom: 5px;
}

.sidebar ul div:hover {
	background-color: #4fcaf7;
	cursor: pointer;
}

.sidebar ul div li {
	padding-left: 10px;
	color: white;
}

/*Content*/
.container-fluid {
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 230px;
}

.content {
	/*padding-left: 150px;*/
}